$theme-colors: (
  "greeni": #1ebba3,
  "bruni": #906040,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
) !default;
// 43291f

@import "bootstrap/bootstrap";
@import "mixins";

// ! START STYLING
// * variables
$greeni: #1ebba3;

// ! classes
.darken {
  background: rgba(14, 10, 10, 0.712) !important;
}

.active {
  color: $greeni !important ;
}

.Bwrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.Wwrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.739);
}
// Todo body
html {
  scroll-behavior: smooth !important;
}
body {
  color: #fff;
}

// todo navbar
nav {
  .navbar-toggler {
    border: 0 !important;
    outline:0 !important;
    &:focus,&:active {
      border: 0 !important;
      outline:0 !important;
    }
  }
  // .navbar-nav li:first-child a{
  //     color:$greeni !important;
  // }
  ul li {
    padding: 0 5px;
  }
  a {
    text-transform: uppercase;
    font-size: 1.1em;
    color: rgb(236, 236, 216) !important;
    text-shadow: 2px 2px 9px #000;

    &:hover {
      cursor: pointer;
      color: $greeni !important;
    }
  }

  .navbar-collapse {
    @include lg-breackpoint {
      background: rgba(14, 10, 10, 0.712);
    }
  }
}

// ? header

header {
  background-image: url(../img/computers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 800px;
  .row {
    height: 700px;
  }
  h1 {
    text-shadow: 5px 2px 8px #000;

    @include lg-breackpoint {
      font-size: 4rem !important;
    }
    @include md-breackpoint {
      font-size: 3.3rem !important;
    }
    @include sm-breackpoint {
      font-size: 2.3rem !important;
    }
  }
  h2 {
    @include md-breackpoint {
      font-size: 1.7rem !important;
    }

    @include sm-breackpoint {
      font-size: 1.5rem !important;
    }
  }
}

// todo: welcome Section

#welcome {
  h2 {
    @include xsm-breackpoint {
      font-size: 2.5rem !important;
    }
  }
}

//? SECTION FEATURES
#features p {
  @include greenborder;
}
// ? section BUILT
#built {
  background-image: url(../img/fixed/apple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  width: 100%;
  min-height: 700px;
  .container > p {
    @include greenborder;
  }

  @include md-breackpoint {
    height: 1100px !important;
  }
  @include sm-breackpoint {
    height: 1100px !important;
  }
  @include xsm-breackpoint {
    height: 1300px !important;
  }
}

//? SECTION PORTFOLIO
#portfolio {
  .container-fluid > p {
    @include greenborder;
  }
  img {
    &:hover {
      cursor: zoom-in;

      transform: translatez(100px, 100px, 200px);
      transition: all 1s ease-in;
    }
  }

  .col {
    padding: 0;
  }
}

//? SECTION PRICING
#pricing {
  .container > p {
    @include greenborder;
  }
  .card {
    overflow: hidden;
    @include scale;
    border-top: 3px solid $greeni !important;
    h2 {
      border-bottom: 2px solid grey;
    }
  }
  .rebon {
    position: absolute;
    transform: rotate(45deg);
    width: 127px;
    height: 31px;
    right: -30px;
    top: 19px;
  }
}

//? SECTION TEAM

#team {
  background-image: url(../img/fixed/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  width: 100%;
  min-height: 1000px;

  @include lg-breackpoint {
    height: 1400px !important;
  }

  @include md-breackpoint {
    height: 1300px !important;
  }
  @include sm-breackpoint {
    height: 800px !important;
  }
  // @include xsm-breackpoint {
  //   height: 5000px !important;
  // }

  .card {
    @include scale;
  }
  .card {
    &:hover {
      transform: scale3d(0.9, 0.9, 0.1) !important;
    }
  }
  .container > p {
    @include greenborder;
  }
  .card-footer a i {
    &:hover {
      opacity: 0.8;
      color: rgb(75, 70, 70) !important;
    }
  }

  @include md-breackpoint {
    height: 1300px !important;
  }
  @include sm-breackpoint {
    height: 2300px !important;
  }
  @include xsm-breackpoint {
    height: 2000px !important;
  }
}

//? SECTION SKILLS
#skills {
  .container > p {
    @include greenborder;
  }
  .count {
    transition:all 4s ease-in-out ;
  }
}

//? SECTION CLIENTS
#clients {
  background-color: rgba(0, 0, 0, 0.7);
  .container > p {
    @include greenborder;
  }
  .card {
    height: 276px;
    width: 664px;

    @include md-breackpoint {
      height: 304px;
      width: 520px;
    }

    @include sm-breackpoint {
      height: 366px !important;
      width: 374px !important;
    }
  }
  .card-body img {
    width: 180px !important;
    height: 180px !important;
  }
  .carousel {
    height: 400px;
    width: 100%;
    .carousel-control-prev,
    .carousel-control-next {
      color: #000;
      .carousel-control-next-icon {
        color: grey !important;
      }
    }
  }
}

//? SECTION CONTACT FOOTER

#contact {
  background-image: url(../img/footer/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  width: 100%;
  height: 100%;
  min-height: 700px;


  @include md-breackpoint {
    height: 1100px !important;
  }

}

// ? SECTION CONTACT
#contact {
  .container > p {
    @include greenborder;
  }
  #upicon {
    transition: transform 1s ease-in-out;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
      transform: translatey(-10px);
    }
  }
  form {
    textarea {
      resize: none;
      min-height: 100px;
      &:focus {
        border-color: skyblue !important;
      }
    }
  }

  pre {
    overflow: hidden;
  }
  #myName,
  #myName > * {
    @include xsm-breackpoint {
      font-size: 0.8em;
    }
  }
}
